<div class="page-content">
    <div class="content">
        <form ng-submit="createUser()">
            <!-- <p>LOGIN</p> -->
            <fieldset>
                <!-- <legend>REGISTER</legend> -->
                <input ng-model='newUser.username' type="text" placeholder="Username" required />
                <input ng-model='newUser.password' type="password" placeholder="Password"  required/>
                <button type="submit">Register</button>
                <p>Already have an acount? Click <a href='#/login'>here</a> to login!</p>
            </fieldset>
        </form>
    </div>
</div>